@model List<MembroModel>
@{
    ViewData["Title"] = "Listagem de contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Membro" asp-action="Cadastrar">Adicionar novo contato</a>
    </div>
    <br />

    <h1 class="display-4">Listagem de contatos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Cpf</th>
                <th scope="col">Nome</th>
                <th scope="col">Nascimento </th>
                <th scope="col">Sexo</th>
                <th scope="col">Endereco</th>
                <th scope="col">Numero</th>
                <th scope="col">Complemento</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cep</th>
                <th scope="col">Municipio</th>
                <th scope="col">Estado</th>
                <th scope="col">Email</th>
                <th scope="col">Fone</th>
                <th scope="col">Naturalidade</th>
                <th scope="col">Estado Civil</th>
                <th scope="col">Profissao</th>
                <th scope="col">Data Batismo Aguas</th>
                <th scope="col">CargoIgreja</th>
                <th scope="col">Igreja</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (MembroModel membro in Model)
                {
                    <tr>
                        <th scope="row">@membro.Id</th>
                        <td>@membro.Cpf</td>
                        <td>@membro.Nome</td>
                        <td>@membro.Nascimento</td>
                        <td>@membro.Sexo</td>
                        <td>@membro.Endereco</td>
                        <td>@membro.Numero</td>
                        <td>@membro.Complemento</td>
                        <td>@membro.Bairro</td>
                        <td>@membro.Cep</td>
                        <td>@membro.Municipio</td>
                        <td>@membro.Estado</td>
                        <td>@membro.Email</td>
                        <td>@membro.Fone</td>
                        <td>@membro.Naturalidade</td>
                        <td>@membro.EstadoCivil</td>
                        <td>@membro.Profissao</td>
                        <td>@membro.DataBatismoAguas</td>
                        <td>@membro.CargoIgreja</td>
                        <td>@membro.Igreja</td>
                        <td>@membro.Status</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@membro.Id" asp-controller="Membro" asp-action="Atualizar">Atualizar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@membro.Id" asp-controller="Membro" asp-action="DeletarConfirmacao">Deletar</a>
                            </div>
                        </td>

                    </tr>


                }
            }

        </tbody>
    </table>

</div>
